<template>
  <div>
    <GameCardsStack
			:cards="visibleCards"
			@hideCard="updateVisibleCard"
		/>    

  </div>
</template>

<script>
import GameCardsStack from "./components/GameCardsStack";
import shared from '@/shared'
import cards from '@/json/conditionnel.json'

export default {
  name: "Conditionnel",
  components: {
    GameCardsStack, 
  },

  data() {
    return {
      visibleCards: []
    };
  },
  mounted: function() {
    const array = cards;
    shared.addIndexes(array);
    shared.shuffleArray(array);
    this.visibleCards = array;
  },
  methods: {
    updateVisibleCard() {
        const element = this.visibleCards[0];
        this.visibleCards.shift();

        setTimeout(() => {
          this.visibleCards.push(element);
        });
    }
  }
};
</script>
