<template>
     <footer>
        Proposé par <a href="https://www.linkedin.com/in/louise-barbarin-38522926/">Louise Barbarin</a>
    </footer>
</template>

<script></script>

<style scoped lang="scss">
  @import "@/styles/colors.scss";

  footer {
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 10pt;
  }

  //Default value
  #app footer {
      color: black;
  }

  #app.tabou footer {
      color: grey;
  }
    #app.pronoms footer {
      color: grey;
  }
    #app.conditionnel footer {
      color: grey;
  }
</style>