<template>
  <div id="nav">
    <router-link to="/">Tabou</router-link>
    <router-link to="/pronoms">Pronoms</router-link>
    <router-link to="/conditionnel">Conditionnel</router-link>
    <router-link to="/consequence">Conséquence</router-link>
  </div>
</template>

<style scoped lang="scss">
  #nav {
    padding: 20px;
  }

  #nav a {
    padding: 5px 10px;
    margin-right: 15px;
    text-decoration: none;
    color: black;

    &:hover {
      text-decoration: underline;
    }

    &.router-link-exact-active {
      background: chartreuse;
      border-radius: 5px;
      text-decoration: none;
    }
  }

  #app.tabou #nav a {
    color: #1d3557;

    &.router-link-exact-active {
      background: #f9dbbd;
    }
  }
   #app.pronoms #nav a {
    color: #f4f1de;

    &.router-link-exact-active {
      background: #5A5E87;
    }
  }
   #app.conditionnel #nav a {
    color: #094F5D;

    &.router-link-exact-active {
      background: #F2B5D4;
    }
  }
    #app.consequence #nav a {
    color: #094F5D;

    &.router-link-exact-active {
      background: #386641;
      color: #f2e8cf;
    }
  }
</style>