<template>
   <div id="app" :class="classObject">
       <router-view name="header"></router-view>
       <main>
           <router-view />
       </main>
       <router-view name="footer"></router-view>
   </div>
</template>

<script>
export default {
    data() {
         return {
            themeName: "default"
        };
    },
    computed: {
        classObject: function () {
            return this.themeName
        },
    },
    watch:{
        $route (to) {
            this.themeName = to.name;
        } 
    },
    beforeMount() {
        this.themeName = this.$route.name;
    }
}
</script>

<style lang="scss">
@import "@/styles/mixins.scss";
@import "@/styles/colors.scss";
@import url('https://fonts.googleapis.com/css2?family=Varela+Round');

#app {
    font-family: "Varela Round", "Avenir", Helvetica, Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    margin: 0;

    background:#B2F7EF;

    &.tabou {
        background: #9381ff;
    }
    &.pronoms {
        background: #e07a5f;
    }
    &.conditionnel {
        background: #B2F7EF;
    }
    &.consequence {
        background: #a7c957;
    }
}

body {
    min-width: 320px;
    padding: 0;
    margin: 0;
}

</style>