<template>
  <div class="cards">
    <GameCard
      v-for="(card, index) in cards"
      :key="card.index"
      :title="card.title"
      :words="card.words"
      :is-current="index === 0"
      @cardAccepted="$emit('cardAccepted');"
      @cardRejected="$emit('cardRejected');"
      @cardSkipped="$emit('cardSkipped');"
      @hideCard="$emit('hideCard');" />
  </div>
</template>

<script>
import GameCard from "./GameCard";

export default {
  components: {
    GameCard
  },

  props: {
    cards: {
      type: Array,
      required: true
    },
  }
};
</script>

<style lang="scss" scoped>
.cards {
    position: relative;
    margin: 100px auto 0 auto;
    width: 300px;

    display: flex;
    flex-direction: column;
}
</style>
