<template>
  <div
    v-if="isShowing"
    ref="interactElement"
    :class="classObject"
    class="card"
    :style="{ transform: transformString }">
    <h3 v-if="isCurrent" class="cardTitle">{{ title }}</h3>
    <ul v-if="isCurrent" >
      <li v-for="(word, index) in words" v-bind:key="index">{{ word }}</li>
    </ul>
  </div>
</template>

<script>
import interact from "@/vendor/interact.js";
const ACCEPT_CARD = "cardAccepted";
const REJECT_CARD = "cardRejected";
const SKIP_CARD = "cardSkipped";

export default {
  static: {
    interactMaxRotation: 15,
    interactYThreshold: 150,
    interactXThreshold: window.innerWidth / 4,
  },

  props: {
    title: {
      type: String,
      required: true
    },
    words: {
      type: Array,
      required: true
    },
    isCurrent: {
      type: Boolean,
      required: true
    },
  },

  data() {
    return {
      isShowing: true,
      isInteractAnimating: true,
      isInteractDragged: null,
      interactPosition: {
        x: 0,
        y: 0,
        rotation: 0
      }
    };
  },

  computed: {
    classObject: function () {
        return [
          this.isInteractAnimating ? 'isAnimating' : '',
          this.isCurrent ? 'isCurrent' : '',
        ]
      },

    transformString() {
      if (!this.isInteractAnimating || this.isInteractDragged) {
        const { x, y, rotation } = this.interactPosition;
        return `translate3D(${x}px, ${y}px, 0) rotate(${rotation}deg)`;
      }

      return null;
    }
  },

    mounted() {
    const element = this.$refs.interactElement;

    interact(element).draggable({
      onstart: () => {
        this.isInteractAnimating = false;
      },

      onmove: event => {
        const {
          interactMaxRotation,
          interactXThreshold
        } = this.$options.static;
        const x = this.interactPosition.x + event.dx;
        const y = this.interactPosition.y + event.dy;

        let rotation = interactMaxRotation * (x / interactXThreshold);

        if (rotation > interactMaxRotation) {
            rotation = interactMaxRotation;
        } else if (rotation < -interactMaxRotation) {
          rotation = -interactMaxRotation;
        }

        this.interactSetPosition({ x, y, rotation });
      },

      onend: () => {
        const { x, y } = this.interactPosition;
        const { interactXThreshold, interactYThreshold } = this.$options.static;
        this.isInteractAnimating = true;

        if (x > interactXThreshold) this.playCard(ACCEPT_CARD);
        else if (x < -interactXThreshold) this.playCard(REJECT_CARD);
        else if (y > interactYThreshold) this.playCard(SKIP_CARD);
        else this.resetCardPosition();
      }
    });
  },

  beforeDestroy() {
    interact(this.$refs.interactElement).unset();
  },

  methods: {
    hideCard() {
      setTimeout(() => {
        this.isShowing = false;
        this.$emit("hideCard", this.card);
      }, 125);
    },

    playCard(interaction) {
        const element = this.$refs.interactElement;
        const outOfSightXCoordinate = window.innerWidth * 1.5 + element.offsetWidth;
        const outOfSightYCoordinate = window.innerHeight * 1.5;
        const { interactMaxRotation } = this.$options.static;

      this.interactUnsetElement();

      switch (interaction) {
        case ACCEPT_CARD:
          this.interactSetPosition({
            x: outOfSightXCoordinate,
            rotation: interactMaxRotation
          });
          this.$emit(ACCEPT_CARD);
          break;
        case REJECT_CARD:
          this.interactSetPosition({
            x: -outOfSightXCoordinate,
            rotation: -interactMaxRotation
          });
          this.$emit(REJECT_CARD);
          break;
        case SKIP_CARD:
          this.interactSetPosition({
            y: -outOfSightYCoordinate
          });
          this.$emit(SKIP_CARD);
          break;
      }

      this.hideCard();
    },

    interactSetPosition(coordinates) {
      const { x = 0, y = 0, rotation = 0 } = coordinates;
      this.interactPosition = { x, y, rotation };
    },

    interactUnsetElement() {
      interact(this.$refs.interactElement).unset();
      this.isInteractDragged = true;
    },

    resetCardPosition() {
      this.interactSetPosition({ x: 0, y: 0, rotation: 0 });
    }
  }
};
</script>



<!-- 
STYLES
-->
<style lang="scss" scoped>
@import "@/styles/index.scss";

// Offset cards
$cardsTotal: 5;
$cardsPositionOffset: 24px;
$cardsScaleOffset: 0.08;
$defaultTranslation: $cardsPositionOffset * $cardsTotal;
$defaultScale: 1 - ($cardsScaleOffset * $cardsTotal);

//
// Spacing
//
.card {
  @include absolute(0);
  @include sizing(300px 320px);

  padding: 50px 30px 10px 30px;
  border-radius: 15px;
  user-select: none;
  pointer-events: none;

  &.isCurrent {
    pointer-events: auto;
  }

  &.isAnimating {
    transition: transform 0.325s ease;
  }

  opacity: 0;
  transform: translateY($defaultTranslation) scale($defaultScale);
  transform-origin: 50%, 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  // Adds little black mark below card
  @include after() {
    @include sizing(21px 3px);
    @include absolute(right 0 bottom 11px left 0);
    margin: auto;
    border-radius: 100px;
    background: rgba(black, 0.3);
  }
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

li {
  font-size: 20px;
  font-weight: bold;
}

li + li {
  margin-top: 10px;
}

//
// Colors & Fonts
//

.card { //Default
  text-transform: uppercase;
  text-align: center;

  .cardTitle {
    color: blue;
    font-size: 28pt;
    font-weight: bold;
    margin: 0;
    margin-bottom: 24pt;
  }
}

#app.tabou .card {
  color: #457b9d;

  .cardTitle { 
    color: #1d3557;
  }
}
#app.pronoms .card {
  color: #81b29a;

  .cardTitle { 
    color: #f4f1de;
  }
}
#app.conditionnel .card {
  color: #063732;

  .cardTitle { 
    color: #094F5D;
  }
}
#app.consequence .card {
  color: #f2e8cf;

  .cardTitle { 
    color: #f2e8cf;
  }
}


@for $i from 1 through $cardsTotal {
  $index: $i - 1;
  $translation: $cardsPositionOffset * $index;
  $scale: 1 - ($cardsScaleOffset * $index);

  .card:nth-child(#{$i}) {
    z-index: $cardsTotal - $index;
    opacity: 1;
    transform: translateY($translation) scale($scale);

    @if $i != 1 {
      @include after() {
        @include sizing(0 0);
      }
    }
  }

  .card:nth-child(#{$i}) {
    $darken: 4;

    background-image: linear-gradient(
    -180deg,
        darken(red, ($i * $darken)) 2%,
        darken(blue, ($i * $darken)) 100%,
    );
  }

  #app.tabou .card:nth-child(#{$i}) {
    $darken: 4;

    background-image: linear-gradient(
    -180deg,
        darken(#ffeedd, ($i * $darken)) 2%,
        darken(#f9dbbd, ($i * $darken)) 100%,
    );
  }
  #app.pronoms .card:nth-child(#{$i}) {
    $darken: 4;

    background-image: linear-gradient(
    -180deg,
        darken(#5A5E87, ($i * $darken)) 2%,
        darken(#3d405b, ($i * $darken)) 100%,
    );
  }
  #app.conditionnel .card:nth-child(#{$i}) {
    $darken: 4;

    background-image: linear-gradient(
    -180deg,
        darken(#F7D6E0, ($i * $darken)) 2%,
        darken(#F7D6E0, ($i * $darken)) 100%,
    );
  }
  #app.consequence .card:nth-child(#{$i}) {
    $darken: 4;

    background-image: linear-gradient(
    -180deg,
        darken(#386641, ($i * $darken)) 2%,
        darken(lighten(#386641,10%), ($i * $darken)) 100%,
    );
  }
}
</style>
